<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=DESKTOP-K236SJQ;Initial Catalog=ProjectPanasonic;Integrated Security=SSPI;User ID=dbo;"
   providerName="System.Data.SqlClient" />
  <add name="ProjectPanasonic_.Properties.Settings.ProjectPanasonicConnectionString"
   connectionString="Data Source=DESKTOP-K236SJQ;Initial Catalog=ProjectPanasonic;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>